@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*.blade.php';
@source '../../../../resources/views/filament/**/*.php';
@source '../../../../resources/views/components/**/*.blade.php';
@source '../../../../vendor/tapp/filament-progress-bar-column';
